.header
{
    height: 15%;
}

.header-logo {
    display: block;
    margin-left: 0; /* Ensures the icon is left aligned */
  }
  
  ion-title {
    display: flex;
    justify-content: flex-start; /* Aligns the content inside ion-title to the left */
    align-items: start; /* Vertically centers the content */
  }
  