<ion-content [fullscreen]="true" class="ion-padding-top">

  <div class="container mt-5 pt-3">

    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>General Settings</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <h1 class="mx-3"> Enable options</h1>
          <ion-list>
            <ion-item>
              <ion-label>Hide Settings</ion-label>
              <ion-toggle (ionChange)="saveChanges();" [(ngModel)]="priceList.hideSettings"></ion-toggle>
            </ion-item>
          </ion-list>

          <h1 class="mx-3"> Courier charges</h1>
          <ion-list>
            <ion-item>
              <ion-input label="Within state : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.withinStateCourier"></ion-input>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item>
              <ion-input label="Other state : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.otherStateCourier"></ion-input>
            </ion-item>
          </ion-list>

        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header">
          <ion-label>Jute Bag Settings</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <h1 class="mx-3"> Natural fabric prices </h1>
          <ion-list>
            <ion-item>
              <ion-input label="12 x 12 : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.natural12x12"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="14 x 15 : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.natural14x15"></ion-input>
            </ion-item>
          </ion-list>

          <h1 class="mx-3"> White fabric prices </h1>
          <ion-list>

            <ion-item>
              <ion-input label="12 x 12 : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.white12x12"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="14 x 15 : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.white14x15"></ion-input>
            </ion-item>

          </ion-list>

          <h1 class="mx-3"> Other materials & Charges</h1>
          <ion-list>

            <ion-item>
              <ion-input label="Single Print : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.print"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Double Print : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.doublePrint"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Labour : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.labour"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Current : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.current"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Machine Dip : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.machineDip"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Thread : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.thread"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Natural handle : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.naturalHandle"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="White handle : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.whiteHandle"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Natural inner rope : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.naturalInnerRope"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="White inner rope : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.whiteInnerRope"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Dhori : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.Dhori"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Jute handle : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.juteHandle"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Zip : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.zip"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Velcro : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.velcro"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Miscellaneous : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.miscellaneous"></ion-input>
            </ion-item>

          </ion-list>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header">
          <ion-label>Paper Bag Settings</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <h1 class="mx-3"> Paper bags weight in grams</h1>
          <ion-list>

            <ion-item>
              <ion-input label="Mini : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.mini"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Small : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.small"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Medium : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.medium"></ion-input>
            </ion-item>

          </ion-list>
        </div>
      </ion-accordion>
      <ion-accordion value="fourth">
        <ion-item slot="header">
          <ion-label>Tote Bag Settings</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div class="ion-padding" slot="content">
            <h1 class="mx-3"> Tote fabric prices</h1>
            <ion-list>

              <ion-item>
                <ion-input label="Cost : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                  [(ngModel)]="priceList.cottonCost"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Sqare Inch : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                  [(ngModel)]="priceList.cottonSquareInch"></ion-input>
              </ion-item>

            </ion-list>

            <h1 class="mx-3"> Other materials & Charges</h1>
            <ion-list>

              <ion-item>
                <ion-input label="Single Print : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                  [(ngModel)]="priceList.cottonSinglePrint"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Double Print : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                  [(ngModel)]="priceList.cottonDoublePrint"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Labour : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                  [(ngModel)]="priceList.cottonLabour"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Current : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                  [(ngModel)]="priceList.cottonCurrent"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Machine Dip : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                  [(ngModel)]="priceList.cottonMachineDip"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Thread : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                  [(ngModel)]="priceList.cottonThread"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Cotton short handle : " placeholder="enter value" type="number"
                  (keyup)="saveChanges()" [(ngModel)]="priceList.cottonShortHandle"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Cotton long handle : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                  [(ngModel)]="priceList.cottonLongHandle"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Tape small handle : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                  [(ngModel)]="priceList.cottonSmallTapeHandle"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Tape large handle : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                  [(ngModel)]="priceList.cottonLongTapeHandle"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Miscellaneous : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                  [(ngModel)]="priceList.cottonMiscellaneous"></ion-input>
              </ion-item>

            </ion-list>
          </div>
        </div>
      </ion-accordion>
      <ion-accordion value="fifth">
        <ion-item slot="header">
          <ion-label>Canvas Bag Settings</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <h1 class="mx-3"> Canvas fabric prices</h1>
          <ion-list>

            <ion-item>
              <ion-input label="Cost : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.canvasCost"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Sqare Inch : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.canvasSquareInch"></ion-input>
            </ion-item>

          </ion-list>

          <h1 class="mx-3"> Other materials & Charges</h1>
          <ion-list>

            <ion-item>
              <ion-input label="Single Print : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.canvasSinglePrint"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Double Print : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.canvasDoublePrint"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Labour : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.canvasLabour"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Current : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.canvasCurrent"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Machine Dip : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.canvasMachineDip"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Thread : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.canvasThread"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Tape handle : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.canvasTapeHandle"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Rope handle : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.canvasRopeHandle"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Zip : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.canvasZip"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Velcro : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.canvasVelcro"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Miscellaneous : " placeholder="enter value" type="number" (keyup)="saveChanges()"
                [(ngModel)]="priceList.canvasMiscellaneous"></ion-input>
            </ion-item>

          </ion-list>
        </div>
      </ion-accordion>
    </ion-accordion-group>

  </div>



  <div class="container mt-5">

  </div>

</ion-content>