

<ion-content [fullscreen]="true">
  <div class="center-content" >
    <ion-card class="card-width ion-activatable ripple-parent"  routerLink="/dashboard/explore" [queryParams]="{tab : 'paper'}">
      <ion-ripple-effect></ion-ripple-effect>
      <img alt="Silhouette of mountains" width="100" height="100" src="assets/icon/paper_bag.jpeg" />
      <ion-card-header>
        <ion-card-title>Paper bags</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Paper bag weight calculation can be done here
      </ion-card-content>
    </ion-card>
    <ion-card class="card-width ion-activatable ripple-parent" routerLink="/dashboard/explore" [queryParams]="{tab : 'jute'}">
      <ion-ripple-effect></ion-ripple-effect>
      <img alt="Silhouette of mountains" width="100" height="100" src="assets/icon/jute_bag.png" />
      <ion-card-header>
        <ion-card-title>Jute bags</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Jute bag pricing can be done here
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
